<%- include("../partials/header") %>

<h1> New-Dev-Skill</h1>

    <form action="/skills" method="POST" autocomplete="off">
        <input type="text" placeholder="Enter New Skill To Work On" name="skill">
        <input type="submit" value="ADD SKILL">
    </form>

<%- include("../partials/footer") %>